.jti-vape-nation {
    .article-inner-container {
        text-align: center;
        max-width: 1132px;
        padding: 0 0px;
        @include breakpoint(sm) {
            padding: 0 50px;
        }
        @include breakpoint(md) {
            padding: 0 95px;
        }
        @media (min-width: 1132px) {
            margin: 0 auto;
        }
    }
    .article-text-container {
        padding: 0 20px;
    }
    // .Main-Content-Zone {
    //     max-width: 100vw;
    //     padding: 0 20px;
    // }
    // .inner-content-zone {
    //     max-width: 1132px;
    //     margin: 0 auto;
    // }
    main {
        margin-top: 0px !important;
    }
    header.header-image {
        height: 428px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
