.jti-vape-nation {
    .columns-container {
        margin: 0 auto;
        text-align: left;
        @include breakpoint(sm) {
            margin: 0 -50px;
        }
        @include breakpoint(md) {
            margin: 0 -95px;
            display: flex;
            justify-content: space-between;
        }
        .column img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            // @include breakpoint(md) {
            //     margin-bottom: 69px;
            // }
        }
        .column-left {
            flex-basis: 50%;
        }
        .column-right {
            flex-basis: 40%;
        }
    }
}