

    header.jti-header.spring-update {

        // HAMBURGER TOGGLE STYLES

        .nav-bar-container {
            position: fixed;
            top: 0;
            z-index: 4;
        }
        .nav-bar {
            background-color: white;
        }
        .nav-main, 
        .post-nav,
        .post-nav-links {
            background-color: white;
            transform: translateX(100vw);
            transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &.open {
            .nav-main, 
            .post-nav,
            .post-nav-links {
                transform: translateX(0);
            }
        }

        //
        
        .nav-bar-container {
            margin: 0 auto;
            max-width: 1132px;
        }
        .nav-bar {
            display: flex;
            padding: 13px 20px;
            justify-content: left;
            align-items: center;
            border-bottom: solid 1px #7eceaa;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
            width: 100%;
            .company-logo {
                border-right: solid 1px #cccccc;
                padding-right: 20px;
                img {
                    width: 42px;
                }
            }
            .site-logo {
                padding-left: 20px;
                img {
                    width: 106px;
                }
            }
        }

        // hamburger menu 

        .hamburger-toggle {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 20px;
            top: 13px;
        }

        .hamburger__svg{
            width: 100%;
        }

        .hamburger__line{
            stroke: #4a4a4a; // pretty
            stroke-width: 8; // pretty
            stroke-linecap: round; // pretty
            transform-origin: 50% 50%;
            transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .hamburger__line--1{
            transform: translateY(-20px) rotate(0deg);
        }
        .hamburger__line--2{
            opacity: 1;
            transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .hamburger__line--3{
            transform: translateY(20px) rotate(0deg);
        }

        .hamburger-toggle.open {
            .hamburger__line--1{
                transform: rotate(45deg);
                transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
            .hamburger__line--2{
                opacity: 0;
                transition: opacity .125s;
            }
            .hamburger__line--3{
                transform: rotate(-45deg);
                transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
        
        ul.nav-main,
        ul.post-nav {
            padding-left: 0px;
            margin-bottom: 0px;

            

            li {
                border-bottom: solid 1px #cccccc;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                list-style-type: none;
            }
            a {
                font-size: 16px;
                padding: 25px 20px;
                font-weight: bold;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.3px;
                color: map-get($colors, dark-blue);
                text-decoration: none;
                display: block;
                width: 100%;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: map-get($gradients, base);
                    opacity: 0;
                    top: 0px;
                    left: 0px;
                    z-index: -1;
                    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }
            a.grey-text {
                color: map-get($colors, brown-grey);
            }
            a.top-level.expanded {
                color: white;
                &::after {
                    opacity: 1;
                }
            }
            .expand-submenu {
                position: absolute;
                display: block;
                right: 0px;
                top: 14px;
                height: 40px;
                border-left: solid 1px #cccccc;
                padding-left: 20px;
                padding-right: 20px;
                display: flex;
                align-items: center;
                .arrow {
                    fill: rgb(126, 206, 170);
                    fill-rule: nonzero;
                    d: path("M 0.694 0.66 a 0.629 0.629 0 0 1 0.84 0 L 7.99 7.045 L 14.426 0.66 a 0.716 0.716 0 0 1 0.904 0 c 0.237 0.235 0.216 0.642 0 0.878 L 8.443 8.307 l -0.022 0.022 a 0.642 0.642 0 0 1 -0.818 0.042 c -0.021 0 -0.021 -0.02 -0.043 -0.042 l -0.021 -0.022 L 0.694 1.54 A 0.57 0.57 0 0 1 0.5 1.11 C 0.5 0.94 0.565 0.79 0.694 0.66 Z ");
                    transition: 0.3s d cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }
            .child-link-container.visible + .expand-submenu {
                .arrow {
                    fill: white;
                    d: path("M 0.694 8.34 a 0.629 0.629 0 0 0 0.84 0 L 7.99 1.955 l 6.435 6.383 a 0.716 0.716 0 0 0 0.904 0 c 0.237 -0.235 0.216 -0.642 0 -0.878 L 8.443 0.693 L 8.42 0.67 A 0.642 0.642 0 0 0 7.603 0.63 c -0.021 0 -0.021 0.02 -0.043 0.042 l -0.021 0.022 L 0.694 7.46 A 0.57 0.57 0 0 0 0.5 7.89 c 0 0.17 0.065 0.32 0.194 0.45 Z");
                }
            }
            .child-link-container {
                width: 100%;
                overflow: hidden;
                max-height: 0px;
                transition: max-height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            }
            .child-link-container.visible,
            .child-link-container.visible .featured-articles-container.single,
            .featured-articles-container.visible {
                max-height: 2000px;
            }
            .child-link {
                background-color: #f2f2f2;
                padding: 25px 20px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                &:last-child {
                    border-bottom: none;
                }
                &:first-child {
                    border-top: solid 1px #cccccc;
                }
                .expand-child-submenu {
                    position: absolute;
                    display: block;
                    right: 0px;
                    top: 14px;
                    height: 40px;
                    padding-left: 20px;
                    padding-right: 20px;
                    display: flex;
                    align-items: center;
                    .arrow {
                        fill: rgb(126, 206, 170);
                        fill-rule: nonzero;
                        d: path("M 0.694 0.66 a 0.629 0.629 0 0 1 0.84 0 L 7.99 7.045 L 14.426 0.66 a 0.716 0.716 0 0 1 0.904 0 c 0.237 0.235 0.216 0.642 0 0.878 L 8.443 8.307 l -0.022 0.022 a 0.642 0.642 0 0 1 -0.818 0.042 c -0.021 0 -0.021 -0.02 -0.043 -0.042 l -0.021 -0.022 L 0.694 1.54 A 0.57 0.57 0 0 1 0.5 1.11 C 0.5 0.94 0.565 0.79 0.694 0.66 Z ");
                        transition: 0.3s d cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
                &.expanded {
                    background-color: white;
                    .arrow {
                        d: path("M 0.694 8.34 a 0.629 0.629 0 0 0 0.84 0 L 7.99 1.955 l 6.435 6.383 a 0.716 0.716 0 0 0 0.904 0 c 0.237 -0.235 0.216 -0.642 0 -0.878 L 8.443 0.693 L 8.42 0.67 A 0.642 0.642 0 0 0 7.603 0.63 c -0.021 0 -0.021 0.02 -0.043 0.042 l -0.021 0.022 L 0.694 7.46 A 0.57 0.57 0 0 0 0.5 7.89 c 0 0.17 0.065 0.32 0.194 0.45 Z");
                    }
                }
            }

            .featured-articles-container.single {
                padding-top: 20px;
            }

            .child-link-container.visible .featured.single {
                overflow: visible;
            }
            .featured {
                max-height: 0px;
                background: none;
                background-color: white;
                overflow: hidden;
                transition: max-height 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
                display: flex;
                flex-wrap: wrap;
                padding: 0 20px;
                justify-content: space-between;
                &.visible {
                    max-height: 2000px;
                    overflow: visible;
                }
                .featured-article {
                    flex-basis: calc(50% - 10px);
                    background-size: cover;
                    background-position: center;
                    min-height: 200px;
                    padding: 14px 22px;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 20px;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        background-color: #06b085;
                        width: 70px;
                        height: 5px;
                        opacity: 0.9;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    p {
                        font-family: map-get($fonts, title);
                        font-size: 14px;
                        font-weight: bold;
                        color: white;
                    }
                }
            }

            .featured-text-container {
                display: block;
                border-right: none;
                a.button {
                    margin-top: 18px;
                    margin-bottom: 0px;
                    background-color: map-get($colors, dark-grey);
                    color: white;
                    font-family: map-get($fonts, base);
                    display: inline;
                    border-radius: 3px;
                    padding: 10px 31px;
                    text-decoration: none;
                    border-bottom: none;
                }
                a.read-more-link {
                    right: calc(-100% + 65px);
                }
            }

            .featured-text-container.visible {
                padding-bottom: 20px;
            }

            a.read-more-link {
                font-size: 14px;
                font-weight: bold;
                color: #424952;
                position: relative;
                display: inline !important;
                width: auto;
                right: calc(-100% + 50px);
                transform: translateX(-100%);
                padding-bottom: 4px;
                margin-bottom: 20px;
                border-bottom: solid 2px #d8d8d8;
                padding-right: 0px;
                padding-left: 0px;
                &::after {
                    content: '';
                    width: 15px;
                    height: 7px;
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAYAAABx290PAAAAAXNSR0IArs4c6QAAAPVJREFUOBFjYKAycPYMnuvnl8SLy1gmXBLkiv9nZIj8+ufDGXefcH1sZlDdQpAl//8zqP3+++eEi3dwGrqlNLEQYsl/jn///s908gpehhzEjECBb+iuoIj//z8HUD8jshmMjAy3WJhYw3ZuWXmR0ckz6D+yJO3YjD+YmBjyaRikqE5nZPjP+O8/AxMLqjBteIyMjPf+M7OE7tu88hyLMA8zFzWtefv131tgMuWEmQmMzPWM3EyJe1ev/AgSQ4lcmCJKaHAiBFvI+JuJkaF8z7a1/cjm0SRIgb54zMDMFL5ny+rjyJaB2LRINNsZOHgM92KxDGQhABWNRKF9T7mJAAAAAElFTkSuQmCC');
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    left: calc(100% + 20px);
                    opacity: 1;
                    top: 50%;
                    transform: translateY(100%);
                }
            }
        }
        ul.post-nav-links {
            padding: 21px 0px;
            border-bottom: solid 1px #cccccc;
            li {
                list-style-type: none;
                &::before {
                    display: none;
                }
            }
            a {
                font-size: 14px;
                padding: 25px 20px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 50px;
                letter-spacing: normal;
                color: #727684;
                text-decoration: none;
            }
        }
    }

    @include breakpoint(lg) {
        header.jti-header.spring-update {

            // REVERSING HAMBURGER TOGGLE STYLES

            .nav-bar-container {
                position: static;
            }
            .nav-main, 
            .post-nav,
            .post-nav-links {
                transform: none;
            }

            &.open {
                .nav-main, 
                .post-nav,
                .post-nav-links {
                    transform: none;
                }
            }
            //

            height: 76px;
            padding: 0 20px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
            width: 100%;
            background-color: white;

            .hamburger-toggle {
                display: none;
            }
            .nav-bar-container {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                max-width: 1132px;
                justify-content: space-between;
                align-items: center;
            }
            .nav-bar {
                border-bottom: none;
                box-shadow: none;
                padding: 0px 20px 0px 0px;
                position: static;
                width: auto;
            }

            ul.post-nav-links,
            .expand-submenu {
                display: none !important;
            }

            .child-link-container {
                max-height: 1px;
            }

            ul.nav-main,
            ul.post-nav {
                display: flex;
                li {
                    display: block;
                    border-bottom: none;
                    position: static;
                    &::before {
                        display: none !important;
                    }
                }
                a {
                    font-size: 14px;
                    padding: 0px 20px;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 16px;
                        width: calc(100% - 40px);
                        transform: scaleX(0.0001);
                        height: 2px;
                        background-image: linear-gradient(to right, #13abae, #88c69a);                    
                        margin-top: 3px;
                        transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                    &::after {
                        background-image: none;
                        width: 0; 
                        height: 0; 
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-bottom: 0px solid #7eceaa;
                        opacity: 1;
                        z-index: 4;
                        top: 40px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: border 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                }
                a.top-level:hover {
                    &::before {
                        transform: scaleX(1);
                    }
                }
                .child-link-container {
                    position: absolute;
                    top: 76px;
                    left: 0px;
                    background-color: white;
                    z-index: 2;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: #7eceaa;
                        position: absolute;
                        transform: scaleX(0.0001);
                        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                    a {
                        background-color: white;
                        border: none;
                        padding: 0px;                    
                        border-bottom: solid 2px #ccc;
                        display: inline;
                        clear: both;
                        float: left;
                        width: auto;
                        margin-bottom: 20px;
                        &:first-child {
                            border-top: none;
                        }
                        &:last-child {
                            border-bottom: solid 2px #ccc;
                            margin-bottom: 0px;
                        }
                    }
                    .inner-child-link-container {
                        max-width: 1132px;
                        margin: 0 auto;
                        padding: 52px 0px;
                        position: relative;
                        min-height: 240px;
                    }  
                }
            
                .featured {
                    position: absolute;
                    left: 50%;
                    flex-wrap: nowrap;
                    width: 788px;
                    transform: translateX(-50%);
                    border-left: solid 1px #ddeae5;
                    border-right: solid 1px #ddeae5;
                }
                .featured-text-container {
                    padding-bottom: 0px;
                    padding: 0 40px;
                    display: block;
                    border-right: none;
                    a.read-more-link {
                        display: none;
                    }
                    a.button {
                        margin-top: 18px;
                        margin-bottom: 0px;
                        background-color: map-get($colors, dark-grey);
                        color: white;
                        font-family: map-get($fonts, base);
                        display: inline-block;
                        border-radius: 3px;
                        padding: 10px 31px;
                        text-decoration: none;
                        border-bottom: none;

                    }
                }
                .featured-articles-container .featured-article {
                    flex-basis: 172px;
                    min-height: 124px;
                    height: 124px;
                    margin: 0;
                    border-bottom: none !important;
                    &::before {
                        margin-top: 0px;
                    }
                }

                .featured-articles-container.single {
                    padding-top: 0px;
                }
                
                a.read-more-link {
                    position: absolute;
                    right: -80px;
                    bottom: 50%;
                    transform: translateY(50%);
                    &::after {
                        transform: translateY(-2px);
                    }
                }
                a.top-level.expanded {
                    color: map-get($colors, dark-blue);
                    &::after {
                        border-bottom: 7px solid #7eceaa;
                    }
                }

                .inner-child-link-container.editions a.child-link,
                .inner-child-link-container.languages a.child-link {
                    float: right !important;
                }
                .top-level.has-children + .child-link-container + .expand-submenu,
                .expand-child-submenu {
                    display: none !important;
                }
                
                .child-link-container.visible {
                    max-height: 500px;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
                    &::before {
                        transform: scaleX(1);
                    }
                }
                
            }
        }
    }
