.jti-vape-nation .article-details-update {
    h1,h2,h3,h4,h5,p,ul,li,blockquote,a {
        margin: 0;
        padding: 0;
        color: map-get($colors, med-grey);
        font-family: map-get($fonts, base);
    }
    .titleContainer {
        margin-top: 80px;
        margin-bottom: 70px;
        @include breakpoint(md) {
            margin-top: 95px;
        }
    }
    h1 {
        font-family: map-get($fonts, title);
        font-size: 40px;
        letter-spacing: 7.3px;
        text-transform: uppercase;
        font-weight: bold;
        color: map-get($colors, dark-grey);
        display: inline-block;
        margin-bottom: 50px;
        @include breakpoint(md) {
            font-size: 53px;
        }
        &::after {
            content: '';
            display: block;
            margin-top: 21px;
            width: calc(100%);
            height: 7px;
            background: map-get($gradients, base);
            transform: translateX(0px);
            @include breakpoint(sm) {
                transform: translateX(-10px);
                width: calc(100% + 20px);
            }
        }
    }
    h2 {
        font-family: map-get($fonts, title);
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.88px;
        color: map-get($colors, dark-grey);
        margin-bottom: 10px;
        line-height: normal;
        text-transform: uppercase;
        @include breakpoint(md) {
            font-size: 32px;
            letter-spacing: 3px;
            margin-bottom: 24px;
        }
    }
    h3 {
        font-size: 26px;
        font-weight: 300;
        line-height: 39px;
        margin-bottom: 50px;
    }
    h4 {
        font-family: map-get($fonts, title);
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 0.1px;
        line-height: normal;
        color: map-get($colors, dark-grey);
    }
    h5 {
        font-size: 23px;
        font-weight: 500;
        letter-spacing: 7px;
        color: map-get($colors, light-grey);
        text-transform: uppercase;
        margin-bottom: 31px;
        @include breakpoint(md) {
            margin-bottom: 17px;
        }
    }
    h6 {
        font-family: map-get($fonts, title);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 3.6px;
        margin-bottom: 0px;
        line-height: normal;
        color: map-get($colors, brown-grey);
        text-transform: uppercase;
        @include breakpoint(md) {
            font-size: 20px;
            letter-spacing: 5.1px;
        }
    }
    p {
        font-size: 19px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 35px;
    }
    a.button {
        background-color: map-get($colors, dark-grey);
        color: white;
        font-family: map-get($fonts, base);
        display: inline-block;
        border-radius: 3px;
        padding: 10px 31px;
        text-decoration: none;
        margin-bottom: 80px;
        @include breakpoint(md) {
            margin: 50px 0px 100px 0px
        }
    }
    blockquote {
        max-width: 806px;
        margin: 0 auto;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 80px;
        padding-left: 25px;
        position: relative;
        border-left: none;
        @include breakpoint(md) {
            margin-bottom: 145px;
            padding-left: 64px;
        }
        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 100%;
            background: map-get($gradients, red);
            position: absolute;
            left: 0px;
            height: 100%;
            @include breakpoint(md) {
                width: 10px;
            }
        }
    }
    .column blockquote {
        width: 100%;
        @include breakpoint(md) {
            max-width: 400px;
            padding-left: 37px;
        }
        &::before {
            width: 2px;
            background: none;
            background-color: #7eceaa;
        }
    }
    ul {
        list-style: none;
        padding-left: 40px;
        margin-bottom: 35px;
        li {
            font-size: 19px;
            font-weight: 300;
            line-height: 31px;
            position: relative;
            &::before {
                content: "\2022"; 
                color: #2cb1ba;            
                font-weight: bold; 
                position: absolute;
                left: -15px;
            }
        }
    }
}