
$colors: (
    dark-grey: #282c2d,
    med-grey: #424952,
    light-grey: #86898e,
    brown-grey: #a3a3a3,
    teal: #06b085,
    dark-blue: #122632
);

$fonts: (
    base: 'Roboto',
    title: 'Cambay',
);

$gradients: (
    base: linear-gradient(to right, #a28bac, #d0909b 31%, #cbaf9d 61%, #1fb0b2),
    red: linear-gradient(to bottom, #e83e37, #ef81a7 55%, #f09f94 78%, #c98a95)
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1152px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;

// END of Grid Options
