.employees-listing-container {
    display: block;
    @include breakpoint(lg) {
        display: flex;
        flex-wrap: wrap;
    }
    &.no-images {
        .employee-container {
            width: 100%;
            flex-basis: 100%;
            @include breakpoint(lg) {
                width: calc(25% - 100px);
                flex-basis: calc(25% - 100px);
                margin-right: 100px;
            } 
            .employee-details {
                padding-right: 0px;
            }
            .employee-bio {
                width: 100%;
                padding-left: 0px;
                .name {
                    padding-right: 0px;
                }
            }
            .employee-photo {
                display: none;
            }
        }
        
    }
    .employee-container {
        text-align: left;
        display: block;
        width: 50%;
        flex-basis: 50%;
        margin-bottom: 50px;
        @include breakpoint(lg) {
            display: flex;
            margin-bottom: 137px;
        }
        .employee-bio {
            padding-left: 0px;
            width: 100%;
            @include breakpoint(lg) {
                padding-left: 20px;
                width: calc(100% - 268px);
                .name {
                    padding-right: 50px;
                }
            }
        }
        .employee-details {
            @include breakpoint(lg) {
                padding-right: 100px;
            }
        }
        .employee-photo {
            margin-bottom: 36px;
            width: 264px;
            img {
                width: 100%;
            }
            @include breakpoint(lg) {
                margin-bottom: 0px;
                height: 268px;
                width: 268px;
            }
        } 

        .label {
            font-size: 12px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 3.7px;      
            color: map-get($colors, teal);
            text-transform: uppercase;
            margin-bottom: 3px;
            padding: 0px;
        }
        .name {
            font-family: map-get($fonts, title);
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0px;
            margin-bottom: 10px;
        }
        .bio-info {
            font-size: 14px;
            font-weight: 300;
            line-height: normal;
            letter-spacing: normal;
            margin-bottom: 7px;
        }
        .employee-link {
            font-family: map-get($fonts, base);
            display: none;
            font-size: 16px;
            font-weight: bold;
            line-height: 26px;
            letter-spacing: normal;
            text-decoration: none;
            border-bottom: solid 2px#d8d8d8;
        }
    }
}