.employees-listing-container {
    border: solid 2px yellow;
}




.employee-container {
    text-align: left;
    display: flex;
    width: 50%;
    flex-basis: 50%;
    .employee-bio {
        padding-left: 0px;
        @include breakpoint(lg) {
            padding-left: 20px;
        }
    }
    .employee-photo {
        margin-bottom: 36px;
        width: 264px;
        @include breakpoint(lg) {
            margin-bottom: 0px;
            height: 268px;
            width: 268px;
        }
    } 

    .label {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 3.7px;      
        color: map-get($colors, teal);
        text-transform: uppercase;
        margin-bottom: 3px;
        padding: 0px;
    }
    .name {
        font-family: map-get($fonts, title);
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0px;
        margin-bottom: 10px;
    }
    .bio-info {
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 7px;
    }
    .employee-link {
        font-family: map-get($fonts, base);
        display: none;
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        letter-spacing: normal;
        text-decoration: none;
        border-bottom: solid 2px#d8d8d8;
    }


    &.three-employees {
        .employee-container {
            border: solid 1px red;
        }
        .row {
            display: flex;
            flex-wrap: nowrap;
            @include breakpoint(lg) {
                align-items: normal;
            }
        }
        .employee-photo {
            height: 162px;
            width: 162px;
            @include breakpoint(lg) {
                height: 172px;
                width: 172px;
            }
            img {
                width: 162px;
                @include breakpoint(lg) {
                    width: 172px;
                }
            }
        }
        .employee-bio {
            padding: 0 40px;
            width: calc(100% - 172px);
            @include breakpoint(lg) {
                padding-left: 20px;
                
            }
        }
        .label, .bio-info {
            display: none;
        }
        .position-label, .position-info {
            display: block;
        }
        .employee-link {
            display: inline-block;
        }
    }
}


