.service-anniversaries-container {
    text-align: center;
    h1 {
        margin-bottom: 60px;
    }
    h6 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .employees-container {
        display: flex;
        margin: 0 -10px;
        justify-content: center;
        flex-wrap: wrap;
        @include breakpoint(md) {
            margin: 0 auto;
            max-width: 800px;
        }
    }
    .employee {
        width: 172px;
        margin: 0 10px 50px 10px;
    }
    .position-label {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 3.7px;      
        color: map-get($colors, teal);
        text-transform: uppercase;
        margin-bottom: 3px;
        padding: 0px;
    }
    .name {
        font-family: map-get($fonts, title);
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0px;
        margin-bottom: 18px;
    }
    .position {
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 7px;
    }
}