/* TYPOGRAPHY */

.jti-vape-nation h1,.jti-vape-nation h2,.jti-vape-nation h3,.jti-vape-nation h4,.jti-vape-nation h5,.jti-vape-nation p,.jti-vape-nation ul,.jti-vape-nation li,.jti-vape-nation blockquote,.jti-vape-nation a {
    margin: 0;
    padding: 0;
    color: #424952;
    font-family: 'Roboto';
}

.jti-vape-nation .article-container {
    max-width: 1132px;
    margin: 0 auto;
    padding: 0 20px;
}
.jti-vape-nation .title-container {
    margin: 80px 0;
}

/* TITLE CONTAINER */

.jti-vape-nation h1 {
    font-family: 'Cambay';
    font-size: 40px;
    letter-spacing: 7.3px;
    text-transform: uppercase;
    font-weight: bold;
    color: #282c2d;
    display: inline-block;
    margin-bottom: 50px;
}

.jti-vape-nation h1::after {
    content: '';
    display: block;
    margin-top: 21px;
    font-size: 53px;
    width: calc(110%);
    height: 7px;
    background: linear-gradient(to right, #a28bac, #d0909b 31%, #cbaf9d 61%, #1fb0b2);
    transform: translateX(-10px);
}

.jti-vape-nation .title-container p {
    font-size: 26px;
    font-weight: 300;
    line-height: 39px;
    margin-bottom: 70px;
}

@media (min-width: 768px) {
    .jti-vape-nation .article-container {
        padding: 0 8%;
    }
    .jti-vape-nation .title-container {
        margin: 95px 0;
    }
    .jti-vape-nation h1 {
        font-size: 53px;
    }
}



